.videoCard {
  color: white;
  height: 320px;
  width: 400px;
  padding: 20px;
  transition: transform 100ms;
  cursor: pointer;
}

.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > img {
  height: 220px;
  object-fit: contain;
  width: 400px;
}

.videoCard > h2 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 5px;
}

.videoCard > p {
  font-size: 13px;
  padding-left: 5px;
}

.videoCard__stats {
  display: none;
}

.videoCard:hover > .videoCard__stats {
  display: inline;
}
